@{
    ViewBag.Title = "Index";
}

<h2>Pytanie 1</h2>
<h3>Tłumaczeniem słowa <b>@ViewBag.Question.WordPl</b> jest:</h3>
<p>a) @ViewBag.Answers[0].WordEn b) @ViewBag.Answers[1].WordEn c) @ViewBag.Answers[2].WordEn</p>